body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #9C835F;
}
.nav-game {
    padding: 15px 15px;
    margin: 15px auto;
    align-items: center;
}

.nav-game a {
    text-decoration: none;
	font-size: 72px;
	font-weight: bold;
	color: #724c21;
}

.nav-game img {
    margin: 0 1.5rem;
    padding-bottom: 28px;
}

.nav-game span {
    font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin-bottom: 0;
    color: #F9B23D;
}

.player-name {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.game-picture {
    width: 93%;
	padding: 20px;
	background-color: transparent;
	border: none;
	border-radius: 50% 20% / 10% 40%;
	overflow: hidden;
	outline: none;
	margin: 3rem 0.7rem 0;
}

.game-picture img{
    max-width: 80px;
	max-height: 240px;
	width: 100%;
	height: 100%;
}

.game-label {
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #BD0000;
}

/* .game-picture img:hover {
    background-color: #C4C4C4;
    background-color: 30px;

    cursor: pointer;
} */