body {
    width: 1440px;
    height: 1024px;
    font-family: "Open Sans", sans-serif;
    background-color: #9C835F;
}
.nav-game {
    padding: 15px 15px;
    margin: 15px auto;
    align-items: center;
}

.nav-game a {
    text-decoration: none;
	font-size: 72px;
	font-weight: bold;
	color: #724c21;
}

.nav-game img {
    margin: 0 1.5rem;
    padding-bottom: 28px;
}

.nav-game span {
    font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin-bottom: 0;
    color: #F9B23D;
}

.player_name {
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.game-picture img{
    width: 128px;
    height: 92px;
	padding: 20px;
	background-color: transparent;
	border: none;
	border-radius: 30px;
	overflow: hidden;
	outline: none;
	margin: 2rem 0.7rem 0;
}